* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, sans-serif;
  background: #f6f4f1;
  color: #2a2a2a;
}

.app {
  display: flex;
  min-height: 100vh;
  display: flex;
}

.side-bar {
  background-color: #ffffff;
  border: 1px #ebebeb;
  padding: 36px 35px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 22%;
  min-width: 260px;
  flex-shrink: 1;
}

.NUL {
  display: flex;
  flex-direction: column;
  gap: 39px;
}

.NU {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* ---------------naptune logo ------------------------*/
.logo-img {
  width: 168px;
  height: 31.87px;
  color: #1f4451;
}

/* --------------jessica thompson -----------------------*/

.user-card {
  display: flex;
  width: 100%;
  max-width: 371px;
  height: 69px;
  padding: 12px;

  border-radius: 6px;
  background-color: #ffffff;
  border: 0.5px solid #b5bdcd;

  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;

  position: relative;
}
.avatar {
  /* padding-top: 3px; */
}
.avatar-userinfo {
  display: flex;
  gap: 12px;
}

.name {
  font-family: "Spline Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #2a2a2a;
  display: flex;
  flex-direction: column;
}

.role {
  font-size: 12px;
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  color: #626d82;
}
/* Logout Button */
.logout-menu {
  position: absolute;
  top: 75px;
  right: 0px;
  border: 1px solid #d0d5dd;
  border-radius: 6px;
  width: 140px;
  background-color: white;
  padding: 8px 0;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 200;
  display: none;
}
#logoutBtn {
  width: 100%;
  /* padding: 10px 0; */
  background: none;
  border: none;
  cursor: pointer;
  font-size: 14px;
  color: #d92d20;
}
.logout-menu:hover {
  background: #f0f2f4;
}

/* -----------------list-item design ----------------------------*/

ul {
  list-style: none;
}

.nav-item {
  height: 54px;
  padding: 0 14px;
  display: flex;
  align-items: center;
  gap: 18px;
  border-radius: 6px;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #d3f7b5;
}

.nav-list a {
  text-decoration: none;
  color: inherit;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-list a:active,
.nav-list a:visited {
  text-decoration: none;
}

.nav-icon {
  height: 24px;
  width: 24px;
}

.nav-text {
  font-family: "Spline Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #626d82;
}

.nav-item.active {
  background-color: #d3f7b5;
}

/* ----------supportcard---------- */
.support-card {
  display: flex;
  flex-direction: column;
  gap: 6px;
  box-sizing: border-box;
  font-family: "Spline Sans", sans-serif;
}

/* --------Icon-------- */
.tel-trouble {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* ---------Heading---------- */
.support-title {
  font-size: 24px;
  font-weight: 600;
  color: #1f4451;
  font-style: medium;
}

/* ---------Description text-------- */
.support-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 140%;
  color: #626d82;
  font-family: "Spline Sans", sans-serif;
  max-width: 100%;
  overflow-wrap: break-word;
}

.text-btn {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/*------- Button -------*/
.support-btn {
  width: 97px;
  height: 34px;
  background-color: #1a1a1a;
  color: #ffffff;
  font-size: 12px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* ---------Hover effect ---------*/
.support-btn:hover {
  opacity: 0.9;
}

/* ----------------------right -------------------------------*/
.main {
  flex: 1;
  padding: 42px 70px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}

/* --------Breadcrumb ----*/
.breadcrumb {
  display: flex;
  gap: 15px;
  padding: 10px;
}

#sidebtn {
  border: none;
  background-color: #f6f4f1;
}

#home,
#doc {
  color: #436d7c;
  text-decoration: none;
  font-size: 16px;
}

/* ------Header--- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  width: 320px;
  height: 45px;
  font-family: Georgia, serif;
  font-size: 33px;
  color: #2a2a2a;
  font-weight: 600;
}

.search {
  display: flex;
  align-items: center;
  background: #ffffff;
  border: 0.5px solid #b5bdcd;
  border-radius: 10px;
  padding: 10px 14px;
  width: 307px;
  height: 47px;
}

.search input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

.search-icon {
  width: 16.64px;
  height: 16.64px;
}

.search-btn,
.dropdown {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 14px;
}

.add-btn {
  height: 47px;
  padding: 0 18px;
  border-radius: 10px;
  border: 0.5px solid #b5bdcd;
  background: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  color: #626d82;
}

.add-btn:hover {
  background: #f0f2f4;
}

/*  -----------     Table main part------------- */
.mainTable {
  height: 571px;
  overflow-y: auto;
  overflow-x: hidden;
}
.doc-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: auto;
}

.doc-table thead {
  background: #f9fafb;
}

.doc-table th,
.doc-table td {
  vertical-align: middle;
  padding-bottom: 20px;
  padding-top: 20px;
  text-align: left;
  font-size: 16px;
  color: #344054;
  font-weight: 600;
}

/* ---------- Checkbox column ---------- */
.doc-table th:first-child,
.doc-table td:first-child {
  width: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

/* ---------- Rows ---------- */
.doc-table tbody tr {
  border: 1px solid #eef1f4;
}

/* ---------- Document link ---------- */
.doc-link {
  color: #436d7c;
  text-decoration: none;
  font-weight: 600;
}

.doc-link:hover {
  text-decoration: underline;
}

/* ---------- Status badges ---------- */
.badge {
  padding: 6px 24px;
  border-radius: 999px;
  font-size: 12px;
  font-weight: 500;
  display: inline-block;
  white-space: nowrap;
}

.needs-signing {
  background: #4b6b77;
  color: #fff;
}

.pending {
  background: #e6ebf1;
  color: #475467;
}

.completed {
  background: #d1f7a8;
  color: #1a7f37;
}

.subtext {
  font-size: 12px;
  color: #98a2b3;
}

/* ---------- Date ---------- */
.time,
.last-date {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: #626d82;
}

/* --action button ------*/
.action-btn-cell {
  width: 1%;
}

/* ---------- Button ---------- */
.btn {
  height: 34px;
  width: 134px;
  border: 1px solid #b5bdcd;
  background: #fff;
  color: #626d82;
  font-weight: 500;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.8;
}

/* menu button */

.action-menu-cell {
  padding: 12px 20px;
}

/* ---------- Menu ---------- */
.menu {
  position: relative;
}

.dots {
  background: none;
  border: none;
  padding: 6px;
  cursor: pointer;
}

.dots:hover {
  background-color: #f0f2f4;
  border-radius: 6px;
}

/* ---------- Dropdown ---------- */
.menu-dropdown {
  position: absolute;
  top: 36px;
  right: 0;
  background: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  width: 140px;
  display: none;
  z-index: 100;
}

.doc-table tbody tr:last-child .menu-dropdown {
  top: auto;
  bottom: 36px;
}

.menu:hover .menu-dropdown {
  display: block;
}

.menu-item {
  padding: 10px 14px;
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  text-align: left;
  display: flex;
  justify-content: flex-start;
}

.menu-item:hover {
  background-color: #f0f2f4;
}

.menu-item.delete {
  color: #d92d20;
}

.action-menu-cell {
  padding-left: 6px;
  width: 1%;
  white-space: nowrap;
}

.doc-table td:nth-child(2),
.doc-table th:nth-child(2) {
  padding-right: 25px;
  padding-left: 20px;
}

.change {
  display: flex;
  padding-right: 150px;
  gap: 8px;
}
/* Add document Form  */
.addDoc {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 9999;
  justify-content: center;
  align-items: center;
}
#addForm {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.addDoc-content {
  background-color: #fff;
  padding: 32px 40px;
  border-radius: 12px;
  width: 520px;
  display: flex;
  flex-direction: column;
  gap: 22px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12);
}
.addDoc-content {
  padding-bottom: 5px;
  color: #1f4451;
}
.addDoc-content input,
.addDoc-content select {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #b5bdcd;
  font-size: 14px;
  box-sizing: border-box;
}
.addDoc-content label {
  font-size: 14px;
  font-weight: 500;
  color: #344054;
}
#pendingPeopleDiv {
  display: none;
}
.DocBtns {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.cancel-btn {
  padding: 10px 16px;
  background-color: #f0f2f4;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
.save-btn {
  padding: 10px 16px;
  background: #1f4451;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}
